h1,
p,
button {
    text-align: center;
}

button {
    width: auto;
    display: inline-block;
    touch-action: manipulation;
}

button:active {
    background-color: transparent;
}

h1 {
    margin-top: 60px;
    margin-bottom: 60px;
}