h1,
p,
button {
    text-align: center;
}

button {
    width: auto;
    display: inline-block;
    margin-bottom: unset;
}

button:active {
    background-color: transparent;
}

p {
    margin-bottom: unset;
}